@tailwind base;

@tailwind components;

@tailwind utilities;

.old-light {
  --bg-background-primary: ghostwhite;
  --bg-background-secondary: #f7fafc;
  --bg-background-tertiary: #e2e8f0;
  --bg-background-form: white;
  --text-copy-primary: #2d3748;
  --text-copy-secondary: #4a5568;
  --border-border-color-primary: white;
}

.theme-light .search-highlighted {
  background: var(--bg-background-tertiary);
}

.theme-light .search-hover:hover {
  background: var(--bg-background-primary);
}

.theme-dark .markdown-body {
    color: var(--text-copy-primary);
}

.theme-dark .search-highlighted {
  background: #2d3748;
}

.theme-dark .search-hover:hover {
  background: #2d3748;
}

.old-dark {
  --bg-background-primary: #0D2438;
  --bg-background-secondary: #102C44;
  --bg-background-tertiary: #1E3951;
  --bg-background-form: #1a202c;
  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #e2e8f0;
  --border-border-color-primary:  #1a202c;
}

.theme-dark .markdown-body {
    color: #cbd5e0;
}

/* new themes go here*/
.theme-light {

--bg-background-primary: #fff3ce;
--bg-background-secondary: #ffc570;
--bg-background-tertiary: #ffd39c;
--bg-background-form: #ffffff;
--text-copy-primary: #3d00ff;
--text-copy-secondary: #2b1d58;
--border-border-color-primary: #ff7600;
}
.dark-orange {
--bg-background-primary: #ff5522;
--bg-background-secondary: #fc953c;
--bg-background-tertiary: #ffac93;
--bg-background-form: #ffffff;
--text-copy-primary: #4c0066;
--text-copy-secondary: #000000;
--border-border-color-primary: #1a202c;
}
.theme-dark{--bg-background-primary: #19101f;
--bg-background-secondary: #1c1123;
--bg-background-tertiary: #000000;
--bg-background-form: #000000;
--text-copy-primary: #ff8b00;
--text-copy-secondary: #e2e8f0;
--border-border-color-primary: #FFC107;}

/*end-new-themes*/



.content-wrapper {
  transition: background-color .25s;
}

a {
  @apply border-border-color-primary font-bold;
}

a:hover {
  @apply border-border-color-primary;
}

nav .active {
  font-weight: bold;
  @apply border-black border-b;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}


.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
